{
    "presets": [
        ["env", {
            "targets": {
              "node": "current"
            }
        }],
        "stage-3"
    ],
    "plugins": [
        ["module-resolver", {
           "root": ["./lib"]
        }]
    ]
}