swagger: '2.0'
info:
  title: 'Riot API'
  description: "\nOpenAPI/Swagger version of the [Riot API](https://developer.riotgames.com/). Automatically generated daily.\n## Download OpenAPI Spec File\nThe following versions of the Riot API spec file are available:\n- `openapi-3.0.0.json` ([download file](../openapi-3.0.0.json), [view ui](?openapi-3.0.0.json))\n- `openapi-3.0.0.min.json` ([download file](../openapi-3.0.0.min.json), [view ui](?openapi-3.0.0.min.json))\n- `openapi-3.0.0.yml` ([download file](../openapi-3.0.0.yml), [view ui](?openapi-3.0.0.yml))\n- `openapi-3.0.0.min.yml` ([download file](../openapi-3.0.0.min.yml), [view ui](?openapi-3.0.0.min.yml))\n- `swaggerspec-2.0.json` ([download file](../swaggerspec-2.0.json), [view ui](?swaggerspec-2.0.json))\n- `swaggerspec-2.0.min.json` ([download file](../swaggerspec-2.0.min.json), [view ui](?swaggerspec-2.0.min.json))\n- `swaggerspec-2.0.yml` ([download file](../swaggerspec-2.0.yml), [view ui](?swaggerspec-2.0.yml))\n- `swaggerspec-2.0.min.yml` ([download file](../swaggerspec-2.0.min.yml), [view ui](?swaggerspec-2.0.min.yml))\n## Source Code\nSource code on [GitHub](https://github.com/MingweiSamuel/riotapi-schema). Pull requests welcome!\n## Automatically Generated\nRebuilt on [Travis CI](https://travis-ci.org/MingweiSamuel/riotapi-schema/builds) daily.\n***\n"
  termsOfService: 'https://developer.riotgames.com/terms-and-conditions.html'
  version: ad6ebb5de8195ac12f2bbc954a8a0cf0c6d43eea
host: na1.api.riotgames.com
x-host-platform:
  - br1
  - eun1
  - euw1
  - jp1
  - kr
  - la1
  - la2
  - na1
  - oc1
  - tr1
  - ru
  - pbe1
  - americas
  - europe
  - asia
schemes:
  - https
paths:
  '/lol/champion-mastery/v4/champion-masteries/by-summoner/{encryptedSummonerId}':
    x-endpoint: champion-mastery-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - champion-mastery-v4
      summary: 'Get all champion mastery entries sorted by number of champion points descending,'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#champion-mastery-v4/GET_getAllChampionMasteries'
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/champion-mastery-v4.ChampionMasteryDTO'
              x-type: ChampionMasteryDTO
            x-type: 'List[ChampionMasteryDTO]'
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: champion-mastery-v4.getAllChampionMasteries
      description: 'Get all champion mastery entries sorted by number of champion points descending,'
      parameters:
        -
          name: encryptedSummonerId
          in: path
          required: true
          description: 'Summoner ID associated with the player'
          type: string
          x-type: string
      produces:
        - application/json
  '/lol/champion-mastery/v4/champion-masteries/by-summoner/{encryptedSummonerId}/by-champion/{championId}':
    x-endpoint: champion-mastery-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - champion-mastery-v4
      summary: 'Get a champion mastery by player ID and champion ID.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#champion-mastery-v4/GET_getChampionMastery'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/champion-mastery-v4.ChampionMasteryDTO'
            x-type: ChampionMasteryDTO
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: champion-mastery-v4.getChampionMastery
      description: 'Get a champion mastery by player ID and champion ID.'
      parameters:
        -
          name: championId
          in: path
          required: true
          description: 'Champion ID to retrieve Champion Mastery for'
          type: integer
          format: int64
          x-type: long
        -
          name: encryptedSummonerId
          in: path
          required: true
          description: 'Summoner ID associated with the player'
          type: string
          x-type: string
      produces:
        - application/json
  '/lol/champion-mastery/v4/scores/by-summoner/{encryptedSummonerId}':
    x-endpoint: champion-mastery-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - champion-mastery-v4
      summary: 'Get a player''s total champion mastery score, which is the sum of individual champion mastery levels.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#champion-mastery-v4/GET_getChampionMasteryScore'
      responses:
        '200':
          description: Success
          schema:
            type: integer
            format: int32
            x-type: int
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: champion-mastery-v4.getChampionMasteryScore
      description: 'Get a player''s total champion mastery score, which is the sum of individual champion mastery levels.'
      parameters:
        -
          name: encryptedSummonerId
          in: path
          required: true
          description: 'Summoner ID associated with the player'
          type: string
          x-type: string
      produces:
        - application/json
  /lol/platform/v3/champion-rotations:
    x-endpoint: champion-v3
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - champion-v3
      summary: 'Returns champion rotations, including free-to-play and low-level free-to-play rotations (REST)'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#champion-v3/GET_getChampionInfo'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/champion-v3.ChampionInfo'
            x-type: ChampionInfo
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: champion-v3.getChampionInfo
      description: 'Returns champion rotations, including free-to-play and low-level free-to-play rotations (REST)'
      produces:
        - application/json
  '/lol/league/v4/challengerleagues/by-queue/{queue}':
    x-endpoint: league-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - league-v4
      summary: 'Get the challenger league for given queue.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#league-v4/GET_getChallengerLeague'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/league-v4.LeagueListDTO'
            x-type: LeagueListDTO
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: league-v4.getChallengerLeague
      description: 'Get the challenger league for given queue.'
      parameters:
        -
          name: queue
          in: path
          required: true
          type: string
          x-type: string
          enum:
            - RANKED_SOLO_5x5
            - RANKED_FLEX_SR
            - RANKED_FLEX_TT
          description: ""
      produces:
        - application/json
  '/lol/league/v4/grandmasterleagues/by-queue/{queue}':
    x-endpoint: league-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - league-v4
      summary: 'Get the grandmaster league of a specific queue.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#league-v4/GET_getGrandmasterLeague'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/league-v4.LeagueListDTO'
            x-type: LeagueListDTO
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: league-v4.getGrandmasterLeague
      description: 'Get the grandmaster league of a specific queue.'
      parameters:
        -
          name: queue
          in: path
          required: true
          type: string
          x-type: string
          enum:
            - RANKED_SOLO_5x5
            - RANKED_FLEX_SR
            - RANKED_FLEX_TT
          description: ""
      produces:
        - application/json
  '/lol/league/v4/leagues/{leagueId}':
    x-endpoint: league-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - league-v4
      summary: 'Get league with given ID, including inactive entries.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#league-v4/GET_getLeagueById'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/league-v4.LeagueListDTO'
            x-type: LeagueListDTO
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: league-v4.getLeagueById
      description: 'Get league with given ID, including inactive entries.'
      parameters:
        -
          name: leagueId
          in: path
          required: true
          description: 'The UUID of the league.'
          type: string
          x-type: string
      produces:
        - application/json
  '/lol/league/v4/masterleagues/by-queue/{queue}':
    x-endpoint: league-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - league-v4
      summary: 'Get the master league for given queue.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#league-v4/GET_getMasterLeague'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/league-v4.LeagueListDTO'
            x-type: LeagueListDTO
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: league-v4.getMasterLeague
      description: 'Get the master league for given queue.'
      parameters:
        -
          name: queue
          in: path
          required: true
          type: string
          x-type: string
          enum:
            - RANKED_SOLO_5x5
            - RANKED_FLEX_SR
            - RANKED_FLEX_TT
          description: ""
      produces:
        - application/json
  /lol/league/v4/positional-rank-queues:
    x-endpoint: league-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - league-v4
      summary: 'Get the queues that have positional ranks enabled.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#league-v4/GET_getQueuesWithPositionRanks'
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: string
              x-type: String
            x-type: 'List[String]'
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: league-v4.getQueuesWithPositionRanks
      description: 'Get the queues that have positional ranks enabled.'
      produces:
        - application/json
  '/lol/league/v4/positions/by-summoner/{encryptedSummonerId}':
    x-endpoint: league-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - league-v4
      summary: 'Get league positions in all queues for a given summoner ID.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#league-v4/GET_getAllLeaguePositionsForSummoner'
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/league-v4.LeaguePositionDTO'
              x-type: LeaguePositionDTO
            x-type: 'Set[LeaguePositionDTO]'
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: league-v4.getAllLeaguePositionsForSummoner
      description: 'Get league positions in all queues for a given summoner ID.'
      parameters:
        -
          name: encryptedSummonerId
          in: path
          required: true
          type: string
          x-type: string
          description: ""
      produces:
        - application/json
  '/lol/league/v4/positions/{positionalQueue}/{tier}/{division}/{position}/{page}':
    x-endpoint: league-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - league-v4
      summary: 'Get all the positional league entries.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#league-v4/GET_getPositionalLeagueEntries'
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/league-v4.LeaguePositionDTO'
              x-type: LeaguePositionDTO
            x-type: 'Set[LeaguePositionDTO]'
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: league-v4.getPositionalLeagueEntries
      description: 'Get all the positional league entries.'
      parameters:
        -
          name: positionalQueue
          in: path
          required: true
          description: 'Note that the queue value must be a valid positional queue.'
          type: string
          x-type: string
          enum:
            - RANKED_SOLO_5x5
            - RANKED_FLEX_SR
            - RANKED_FLEX_TT
        -
          name: tier
          in: path
          required: true
          type: string
          x-type: string
          enum:
            - DIAMOND
            - PLATINUM
            - GOLD
            - SILVER
            - BRONZE
            - IRON
          description: ""
        -
          name: division
          in: path
          required: true
          type: string
          x-type: string
          enum:
            - I
            - II
            - III
            - IV
          description: ""
        -
          name: position
          in: path
          required: true
          type: string
          x-type: string
          enum:
            - TOP
            - MIDDLE
            - BOTTOM
            - JUNGLE
            - UTILITY
          description: ""
        -
          name: page
          in: path
          required: true
          description: 'Starts with page 0.'
          type: integer
          format: int32
          x-type: int
      produces:
        - application/json
  /lol/status/v3/shard-data:
    x-endpoint: lol-status-v3
    x-platforms-available:
      - ru
      - kr
      - pbe1
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - lol-status-v3
      summary: 'Get League of Legends status for the given shard.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#lol-status-v3/GET_getShardData'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/lol-status-v3.ShardStatus'
            x-type: ShardStatus
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: lol-status-v3.getShardData
      x-app-rate-limit-excluded: true
      description: "Get League of Legends status for the given shard.\n## Rate Limit Notes\nRequests to this API are not counted against the application Rate Limits."
      produces:
        - application/json
  '/lol/match/v4/matches/by-tournament-code/{tournamentCode}/ids':
    x-endpoint: match-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - match-v4
      summary: 'Get match IDs by tournament code.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#match-v4/GET_getMatchIdsByTournamentCode'
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: integer
              format: int64
              x-type: long
            x-type: 'List[long]'
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: match-v4.getMatchIdsByTournamentCode
      description: 'Get match IDs by tournament code.'
      parameters:
        -
          name: tournamentCode
          in: path
          required: true
          description: 'The tournament code.'
          type: string
          x-type: string
      produces:
        - application/json
  '/lol/match/v4/matches/{matchId}':
    x-endpoint: match-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - match-v4
      summary: 'Get match by match ID.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#match-v4/GET_getMatch'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/match-v4.MatchDto'
            x-type: MatchDto
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: match-v4.getMatch
      description: 'Get match by match ID.'
      parameters:
        -
          name: matchId
          in: path
          required: true
          description: 'The match ID.'
          type: integer
          format: int64
          x-type: long
      produces:
        - application/json
  '/lol/match/v4/matches/{matchId}/by-tournament-code/{tournamentCode}':
    x-endpoint: match-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - match-v4
      summary: 'Get match by match ID and tournament code.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#match-v4/GET_getMatchByTournamentCode'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/match-v4.MatchDto'
            x-type: MatchDto
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: match-v4.getMatchByTournamentCode
      description: 'Get match by match ID and tournament code.'
      parameters:
        -
          name: tournamentCode
          in: path
          required: true
          description: 'The tournament code.'
          type: string
          x-type: string
        -
          name: matchId
          in: path
          required: true
          description: 'The match ID.'
          type: integer
          format: int64
          x-type: long
      produces:
        - application/json
  '/lol/match/v4/matchlists/by-account/{encryptedAccountId}':
    x-endpoint: match-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - match-v4
      summary: 'Get matchlist for games played on given account ID and platform ID and filtered using given filter parameters, if any.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#match-v4/GET_getMatchlist'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/match-v4.MatchlistDto'
            x-type: MatchlistDto
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: match-v4.getMatchlist
      description: "Get matchlist for games played on given account ID and platform ID and filtered using given filter parameters, if any.\n## Implementation Notes\nA number of optional parameters are provided for filtering. It is up to the caller to ensure that the combination of filter parameters provided is valid for the requested account, otherwise, no matches may be returned.\n\nIf beginIndex is specified, but not endIndex, then endIndex defaults to beginIndex+100. If endIndex is specified, but not beginIndex, then beginIndex defaults to 0. If both are specified, then endIndex must be greater than beginIndex. The maximum range allowed is 100, otherwise a 400 error code is returned.\n\nIf beginTime is specified, but not endTime, then endTime defaults to the the current unix timestamp in milliseconds. If endTime is specified, but not beginTime, then beginTime defaults to the start of the account's match history. If both are specified, then endTime should be greater than beginTime."
      parameters:
        -
          name: encryptedAccountId
          in: path
          required: true
          description: 'The account ID.'
          type: string
          x-type: string
        -
          name: champion
          in: query
          required: false
          description: 'Set of champion IDs for filtering the matchlist.'
          type: array
          items:
            type: integer
            format: int32
            x-type: int
          x-type: 'Set[int]'
        -
          name: queue
          in: query
          required: false
          description: 'Set of queue IDs for filtering the matchlist.'
          type: array
          items:
            type: integer
            format: int32
            x-type: int
          x-type: 'Set[int]'
        -
          name: season
          in: query
          required: false
          description: 'Set of season IDs for filtering the matchlist.'
          type: array
          items:
            type: integer
            format: int32
            x-type: int
          x-type: 'Set[int]'
        -
          name: endTime
          in: query
          required: false
          description: 'The end time to use for filtering matchlist specified as epoch milliseconds. If beginTime is specified, but not endTime, then endTime defaults to the the current unix timestamp in milliseconds. If endTime is specified, but not beginTime, then beginTime defaults to the start of the account''s match history. If both are specified, then endTime should be greater than beginTime.'
          type: integer
          format: int64
          x-type: long
        -
          name: beginTime
          in: query
          required: false
          description: 'The begin time to use for filtering matchlist specified as epoch milliseconds. If beginTime is specified, but not endTime, then endTime defaults to the the current unix timestamp in milliseconds. If endTime is specified, but not beginTime, then beginTime defaults to the start of the account''s match history. If both are specified, then endTime should be greater than beginTime.'
          type: integer
          format: int64
          x-type: long
        -
          name: endIndex
          in: query
          required: false
          description: 'The end index to use for filtering matchlist. If beginIndex is specified, but not endIndex, then endIndex defaults to beginIndex+100. If endIndex is specified, but not beginIndex, then beginIndex defaults to 0. If both are specified, then endIndex must be greater than beginIndex. The maximum range allowed is 100, otherwise a 400 error code is returned.'
          type: integer
          format: int32
          x-type: int
        -
          name: beginIndex
          in: query
          required: false
          description: 'The begin index to use for filtering matchlist.  If beginIndex is specified, but not endIndex, then endIndex defaults to beginIndex+100. If endIndex is specified, but not beginIndex, then beginIndex defaults to 0. If both are specified, then endIndex must be greater than beginIndex. The maximum range allowed is 100, otherwise a 400 error code is returned.'
          type: integer
          format: int32
          x-type: int
      produces:
        - application/json
  '/lol/match/v4/timelines/by-match/{matchId}':
    x-endpoint: match-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - match-v4
      summary: 'Get match timeline by match ID.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#match-v4/GET_getMatchTimeline'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/match-v4.MatchTimelineDto'
            x-type: MatchTimelineDto
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: match-v4.getMatchTimeline
      description: "Get match timeline by match ID.\n## Implementation Notes\nNot all matches have timeline data."
      parameters:
        -
          name: matchId
          in: path
          required: true
          description: 'The match ID.'
          type: integer
          format: int64
          x-type: long
      produces:
        - application/json
  '/lol/spectator/v4/active-games/by-summoner/{encryptedSummonerId}':
    x-endpoint: spectator-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - spectator-v4
      summary: 'Get current game information for the given summoner ID.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#spectator-v4/GET_getCurrentGameInfoBySummoner'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/spectator-v4.CurrentGameInfo'
            x-type: CurrentGameInfo
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: spectator-v4.getCurrentGameInfoBySummoner
      description: 'Get current game information for the given summoner ID.'
      parameters:
        -
          name: encryptedSummonerId
          in: path
          required: true
          description: 'The ID of the summoner.'
          type: string
          x-type: string
      produces:
        - application/json
  /lol/spectator/v4/featured-games:
    x-endpoint: spectator-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - spectator-v4
      summary: 'Get list of featured games.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#spectator-v4/GET_getFeaturedGames'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/spectator-v4.FeaturedGames'
            x-type: FeaturedGames
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: spectator-v4.getFeaturedGames
      description: 'Get list of featured games.'
      produces:
        - application/json
  '/lol/summoner/v4/summoners/by-account/{encryptedAccountId}':
    x-endpoint: summoner-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - summoner-v4
      summary: 'Get a summoner by account ID.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#summoner-v4/GET_getByAccountId'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/summoner-v4.SummonerDTO'
            x-type: SummonerDTO
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: summoner-v4.getByAccountId
      description: 'Get a summoner by account ID.'
      parameters:
        -
          name: encryptedAccountId
          in: path
          required: true
          type: string
          x-type: string
          description: ""
      produces:
        - application/json
  '/lol/summoner/v4/summoners/by-name/{summonerName}':
    x-endpoint: summoner-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - summoner-v4
      summary: 'Get a summoner by summoner name.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#summoner-v4/GET_getBySummonerName'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/summoner-v4.SummonerDTO'
            x-type: SummonerDTO
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: summoner-v4.getBySummonerName
      description: 'Get a summoner by summoner name.'
      parameters:
        -
          name: summonerName
          in: path
          required: true
          description: 'Summoner Name'
          type: string
          x-type: string
      produces:
        - application/json
  '/lol/summoner/v4/summoners/by-puuid/{encryptedPUUID}':
    x-endpoint: summoner-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - summoner-v4
      summary: 'Get a summoner by PUUID.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#summoner-v4/GET_getByPUUID'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/summoner-v4.SummonerDTO'
            x-type: SummonerDTO
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: summoner-v4.getByPUUID
      description: 'Get a summoner by PUUID.'
      parameters:
        -
          name: encryptedPUUID
          in: path
          required: true
          description: 'Summoner ID'
          type: string
          x-type: string
      produces:
        - application/json
  '/lol/summoner/v4/summoners/{encryptedSummonerId}':
    x-endpoint: summoner-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - summoner-v4
      summary: 'Get a summoner by summoner ID.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#summoner-v4/GET_getBySummonerId'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/summoner-v4.SummonerDTO'
            x-type: SummonerDTO
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: summoner-v4.getBySummonerId
      description: 'Get a summoner by summoner ID.'
      parameters:
        -
          name: encryptedSummonerId
          in: path
          required: true
          description: 'Summoner ID'
          type: string
          x-type: string
      produces:
        - application/json
  '/lol/platform/v4/third-party-code/by-summoner/{encryptedSummonerId}':
    x-endpoint: third-party-code-v4
    x-platforms-available:
      - ru
      - kr
      - br1
      - oc1
      - jp1
      - na1
      - eun1
      - euw1
      - tr1
      - la1
      - la2
    get:
      tags:
        - third-party-code-v4
      summary: 'Get third party code for a given summoner ID.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#third-party-code-v4/GET_getThirdPartyCodeBySummonerId'
      responses:
        '200':
          description: Success
          schema:
            type: string
            x-type: String
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: third-party-code-v4.getThirdPartyCodeBySummonerId
      description: 'Get third party code for a given summoner ID.'
      parameters:
        -
          name: encryptedSummonerId
          in: path
          required: true
          type: string
          x-type: string
          description: ""
      produces:
        - application/json
  /lol/tournament-stub/v4/codes:
    x-endpoint: tournament-stub-v4
    x-platforms-available:
      - americas
    post:
      tags:
        - tournament-stub-v4
      summary: 'Create a mock tournament code for the given tournament.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#tournament-stub-v4/POST_createTournamentCode'
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: string
              x-type: string
            x-type: 'List[string]'
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: tournament-stub-v4.createTournamentCode
      description: 'Create a mock tournament code for the given tournament.'
      parameters:
        -
          name: count
          in: query
          required: false
          description: 'The number of codes to create (max 1000)'
          type: integer
          format: int32
          x-type: int
        -
          name: tournamentId
          in: query
          required: true
          description: 'The tournament ID'
          type: integer
          format: int64
          x-type: long
        -
          required: true
          description: 'Metadata for the generated code'
          schema:
            $ref: '#/definitions/tournament-stub-v4.TournamentCodeParameters'
            x-type: TournamentCodeParameters
          in: body
          name: TournamentCodeParameters
      produces:
        - application/json
      consumes:
        - application/json
  '/lol/tournament-stub/v4/lobby-events/by-code/{tournamentCode}':
    x-endpoint: tournament-stub-v4
    x-platforms-available:
      - americas
    get:
      tags:
        - tournament-stub-v4
      summary: 'Gets a mock list of lobby events by tournament code.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#tournament-stub-v4/GET_getLobbyEventsByCode'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/tournament-stub-v4.LobbyEventDTOWrapper'
            x-type: LobbyEventDTOWrapper
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: tournament-stub-v4.getLobbyEventsByCode
      description: 'Gets a mock list of lobby events by tournament code.'
      parameters:
        -
          name: tournamentCode
          in: path
          required: true
          description: 'The short code to look up lobby events for'
          type: string
          x-type: string
      produces:
        - application/json
  /lol/tournament-stub/v4/providers:
    x-endpoint: tournament-stub-v4
    x-platforms-available:
      - americas
    post:
      tags:
        - tournament-stub-v4
      summary: 'Creates a mock tournament provider and returns its ID.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#tournament-stub-v4/POST_registerProviderData'
      responses:
        '200':
          description: Success
          schema:
            type: integer
            format: int32
            x-type: int
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: tournament-stub-v4.registerProviderData
      description: "Creates a mock tournament provider and returns its ID.\n## Implementation Notes\nProviders will need to call this endpoint first to register their callback URL and their API key with the tournament system before any other tournament provider endpoints will work."
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        -
          required: true
          description: 'The provider definition.'
          schema:
            $ref: '#/definitions/tournament-stub-v4.ProviderRegistrationParameters'
            x-type: ProviderRegistrationParameters
          in: body
          name: ProviderRegistrationParameters
  /lol/tournament-stub/v4/tournaments:
    x-endpoint: tournament-stub-v4
    x-platforms-available:
      - americas
    post:
      tags:
        - tournament-stub-v4
      summary: 'Creates a mock tournament and returns its ID.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#tournament-stub-v4/POST_registerTournament'
      responses:
        '200':
          description: Success
          schema:
            type: integer
            format: int32
            x-type: int
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: tournament-stub-v4.registerTournament
      description: 'Creates a mock tournament and returns its ID.'
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        -
          required: true
          description: 'The tournament definition.'
          schema:
            $ref: '#/definitions/tournament-stub-v4.TournamentRegistrationParameters'
            x-type: TournamentRegistrationParameters
          in: body
          name: TournamentRegistrationParameters
  /lol/tournament/v4/codes:
    x-endpoint: tournament-v4
    x-platforms-available:
      - americas
    post:
      tags:
        - tournament-v4
      summary: 'Create a tournament code for the given tournament.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#tournament-v4/POST_createTournamentCode'
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: string
              x-type: string
            x-type: 'List[string]'
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: tournament-v4.createTournamentCode
      description: 'Create a tournament code for the given tournament.'
      parameters:
        -
          name: count
          in: query
          required: false
          description: 'The number of codes to create (max 1000)'
          type: integer
          format: int32
          x-type: int
        -
          name: tournamentId
          in: query
          required: true
          description: 'The tournament ID'
          type: integer
          format: int64
          x-type: long
        -
          required: true
          description: 'Metadata for the generated code'
          schema:
            $ref: '#/definitions/tournament-v4.TournamentCodeParameters'
            x-type: TournamentCodeParameters
          in: body
          name: TournamentCodeParameters
      produces:
        - application/json
      consumes:
        - application/json
  '/lol/tournament/v4/codes/{tournamentCode}':
    x-endpoint: tournament-v4
    x-platforms-available:
      - americas
    get:
      tags:
        - tournament-v4
      summary: 'Returns the tournament code DTO associated with a tournament code string.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#tournament-v4/GET_getTournamentCode'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/tournament-v4.TournamentCodeDTO'
            x-type: TournamentCodeDTO
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: tournament-v4.getTournamentCode
      description: 'Returns the tournament code DTO associated with a tournament code string.'
      parameters:
        -
          name: tournamentCode
          in: path
          required: true
          description: 'The tournament code string.'
          type: string
          x-type: string
      produces:
        - application/json
    put:
      tags:
        - tournament-v4
      summary: 'Update the pick type, map, spectator type, or allowed summoners for a code.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#tournament-v4/PUT_updateCode'
      responses:
        '200':
          description: Success
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: tournament-v4.updateCode
      description: 'Update the pick type, map, spectator type, or allowed summoners for a code.'
      parameters:
        -
          name: tournamentCode
          in: path
          required: true
          description: 'The tournament code to update'
          type: string
          x-type: string
        -
          required: false
          description: 'The fields to update'
          schema:
            $ref: '#/definitions/tournament-v4.TournamentCodeUpdateParameters'
            x-type: TournamentCodeUpdateParameters
          in: body
          name: TournamentCodeUpdateParameters
      produces:
        - application/json
      consumes:
        - application/json
  '/lol/tournament/v4/lobby-events/by-code/{tournamentCode}':
    x-endpoint: tournament-v4
    x-platforms-available:
      - americas
    get:
      tags:
        - tournament-v4
      summary: 'Gets a list of lobby events by tournament code.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#tournament-v4/GET_getLobbyEventsByCode'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/tournament-v4.LobbyEventDTOWrapper'
            x-type: LobbyEventDTOWrapper
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: tournament-v4.getLobbyEventsByCode
      description: 'Gets a list of lobby events by tournament code.'
      parameters:
        -
          name: tournamentCode
          in: path
          required: true
          description: 'The short code to look up lobby events for'
          type: string
          x-type: string
      produces:
        - application/json
  /lol/tournament/v4/providers:
    x-endpoint: tournament-v4
    x-platforms-available:
      - americas
    post:
      tags:
        - tournament-v4
      summary: 'Creates a tournament provider and returns its ID.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#tournament-v4/POST_registerProviderData'
      responses:
        '200':
          description: Success
          schema:
            type: integer
            format: int32
            x-type: int
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: tournament-v4.registerProviderData
      description: "Creates a tournament provider and returns its ID.\n## Implementation Notes\nProviders will need to call this endpoint first to register their callback URL and their API key with the tournament system before any other tournament provider endpoints will work."
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        -
          required: true
          description: 'The provider definition.'
          schema:
            $ref: '#/definitions/tournament-v4.ProviderRegistrationParameters'
            x-type: ProviderRegistrationParameters
          in: body
          name: ProviderRegistrationParameters
  /lol/tournament/v4/tournaments:
    x-endpoint: tournament-v4
    x-platforms-available:
      - americas
    post:
      tags:
        - tournament-v4
      summary: 'Creates a tournament and returns its ID.'
      externalDocs:
        description: 'Official API Reference'
        url: 'https://developer.riotgames.com/api-methods/#tournament-v4/POST_registerTournament'
      responses:
        '200':
          description: Success
          schema:
            type: integer
            format: int32
            x-type: int
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Data not found'
        '405':
          description: 'Method not allowed'
        '415':
          description: 'Unsupported media type'
        '429':
          description: 'Rate limit exceeded'
        '500':
          description: 'Internal server error'
        '502':
          description: 'Bad gateway'
        '503':
          description: 'Service unavailable'
        '504':
          description: 'Gateway timeout'
      operationId: tournament-v4.registerTournament
      description: 'Creates a tournament and returns its ID.'
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        -
          required: true
          description: 'The tournament definition.'
          schema:
            $ref: '#/definitions/tournament-v4.TournamentRegistrationParameters'
            x-type: TournamentRegistrationParameters
          in: body
          name: TournamentRegistrationParameters
definitions:
  Error:
    type: object
    properties:
      status:
        type: object
        properties:
          status_code:
            type: integer
          message:
            type: string
  champion-mastery-v4.ChampionMasteryDTO:
    type: object
    title: ChampionMasteryDTO
    properties:
      chestGranted:
        type: boolean
        x-type: boolean
        description: 'Is chest granted for this champion or not in current season.'
      championLevel:
        type: integer
        format: int32
        x-type: int
        description: 'Champion level for specified player and champion combination.'
      championPoints:
        type: integer
        format: int32
        x-type: int
        description: 'Total number of champion points for this player and champion combination - they are used to determine championLevel.'
      championId:
        type: integer
        format: int64
        x-type: long
        description: 'Champion ID for this entry.'
      championPointsUntilNextLevel:
        type: integer
        format: int64
        x-type: long
        description: 'Number of points needed to achieve next level. Zero if player reached maximum champion level for this champion.'
      lastPlayTime:
        type: integer
        format: int64
        x-type: long
        description: 'Last time this champion was played by this player - in Unix milliseconds time format.'
      tokensEarned:
        type: integer
        format: int32
        x-type: int
        description: 'The token earned for this champion to levelup.'
      championPointsSinceLastLevel:
        type: integer
        format: int64
        x-type: long
        description: 'Number of points earned since current level has been achieved.'
      summonerId:
        type: string
        x-type: string
        description: 'Summoner ID for this entry. (Encrypted)'
    description: 'This object contains single Champion Mastery information for player and champion combination.'
    required:
      - chestGranted
      - championLevel
      - championPoints
      - championId
      - championPointsUntilNextLevel
      - lastPlayTime
      - tokensEarned
      - championPointsSinceLastLevel
      - summonerId
  champion-v3.ChampionInfo:
    type: object
    title: ChampionInfo
    properties:
      freeChampionIdsForNewPlayers:
        type: array
        items:
          type: integer
          format: int32
          x-type: int
        x-type: 'List[int]'
      freeChampionIds:
        type: array
        items:
          type: integer
          format: int32
          x-type: int
        x-type: 'List[int]'
      maxNewPlayerLevel:
        type: integer
        format: int32
        x-type: int
    required:
      - freeChampionIdsForNewPlayers
      - freeChampionIds
      - maxNewPlayerLevel
  league-v4.LeagueListDTO:
    type: object
    title: LeagueListDTO
    properties:
      leagueId:
        type: string
        x-type: string
      tier:
        type: string
        x-type: string
      entries:
        type: array
        items:
          $ref: '#/definitions/league-v4.LeagueItemDTO'
          x-type: LeagueItemDTO
        x-type: 'List[LeagueItemDTO]'
      queue:
        type: string
        x-type: string
      name:
        type: string
        x-type: string
    required:
      - leagueId
      - tier
      - entries
      - queue
      - name
  league-v4.LeagueItemDTO:
    type: object
    title: LeagueItemDTO
    properties:
      summonerName:
        type: string
        x-type: string
      hotStreak:
        type: boolean
        x-type: boolean
      miniSeries:
        $ref: '#/definitions/league-v4.MiniSeriesDTO'
        x-type: MiniSeriesDTO
      wins:
        type: integer
        format: int32
        x-type: int
      veteran:
        type: boolean
        x-type: boolean
      losses:
        type: integer
        format: int32
        x-type: int
      freshBlood:
        type: boolean
        x-type: boolean
      inactive:
        type: boolean
        x-type: boolean
      rank:
        type: string
        x-type: string
      summonerId:
        type: string
        x-type: string
        description: 'Player''s summonerId (Encrypted)'
      leaguePoints:
        type: integer
        format: int32
        x-type: int
    required:
      - summonerName
      - hotStreak
      - miniSeries
      - wins
      - veteran
      - losses
      - freshBlood
      - inactive
      - rank
      - summonerId
      - leaguePoints
  league-v4.MiniSeriesDTO:
    type: object
    title: MiniSeriesDTO
    properties:
      progress:
        type: string
        x-type: string
      losses:
        type: integer
        format: int32
        x-type: int
      target:
        type: integer
        format: int32
        x-type: int
      wins:
        type: integer
        format: int32
        x-type: int
    required:
      - progress
      - losses
      - target
      - wins
  league-v4.LeaguePositionDTO:
    type: object
    title: LeaguePositionDTO
    properties:
      queueType:
        type: string
        x-type: string
      summonerName:
        type: string
        x-type: string
      hotStreak:
        type: boolean
        x-type: boolean
      miniSeries:
        $ref: '#/definitions/league-v4.MiniSeriesDTO'
        x-type: MiniSeriesDTO
      wins:
        type: integer
        format: int32
        x-type: int
      veteran:
        type: boolean
        x-type: boolean
      losses:
        type: integer
        format: int32
        x-type: int
      rank:
        type: string
        x-type: string
      leagueId:
        type: string
        x-type: string
      inactive:
        type: boolean
        x-type: boolean
      freshBlood:
        type: boolean
        x-type: boolean
      leagueName:
        type: string
        x-type: string
      position:
        type: string
        x-type: string
        enum:
          - APEX
          - TOP
          - JUNGLE
          - MIDDLE
          - BOTTOM
          - UTILITY
          - NONE
        description: '(Legal values:  APEX,  TOP,  JUNGLE,  MIDDLE,  BOTTOM,  UTILITY,  NONE)'
      tier:
        type: string
        x-type: string
      summonerId:
        type: string
        x-type: string
        description: 'Player''s summonerId (Encrypted)'
      leaguePoints:
        type: integer
        format: int32
        x-type: int
    required:
      - queueType
      - summonerName
      - hotStreak
      - miniSeries
      - wins
      - veteran
      - losses
      - rank
      - leagueId
      - inactive
      - freshBlood
      - leagueName
      - position
      - tier
      - summonerId
      - leaguePoints
  lol-status-v3.ShardStatus:
    type: object
    title: ShardStatus
    properties:
      name:
        type: string
        x-type: string
      region_tag:
        type: string
        x-type: string
      hostname:
        type: string
        x-type: string
      services:
        type: array
        items:
          $ref: '#/definitions/lol-status-v3.Service'
          x-type: Service
        x-type: 'List[Service]'
      slug:
        type: string
        x-type: string
      locales:
        type: array
        items:
          type: string
          x-type: string
        x-type: 'List[string]'
    required:
      - name
      - region_tag
      - hostname
      - services
      - slug
      - locales
  lol-status-v3.Service:
    type: object
    title: Service
    properties:
      status:
        type: string
        x-type: string
      incidents:
        type: array
        items:
          $ref: '#/definitions/lol-status-v3.Incident'
          x-type: Incident
        x-type: 'List[Incident]'
      name:
        type: string
        x-type: string
      slug:
        type: string
        x-type: string
    required:
      - status
      - incidents
      - name
      - slug
  lol-status-v3.Incident:
    type: object
    title: Incident
    properties:
      active:
        type: boolean
        x-type: boolean
      created_at:
        type: string
        x-type: string
      id:
        type: integer
        format: int64
        x-type: long
      updates:
        type: array
        items:
          $ref: '#/definitions/lol-status-v3.Message'
          x-type: Message
        x-type: 'List[Message]'
    required:
      - active
      - created_at
      - id
      - updates
  lol-status-v3.Message:
    type: object
    title: Message
    properties:
      severity:
        type: string
        x-type: string
      author:
        type: string
        x-type: string
      created_at:
        type: string
        x-type: string
      translations:
        type: array
        items:
          $ref: '#/definitions/lol-status-v3.Translation'
          x-type: Translation
        x-type: 'List[Translation]'
      updated_at:
        type: string
        x-type: string
      content:
        type: string
        x-type: string
      id:
        type: string
        x-type: string
    required:
      - severity
      - author
      - created_at
      - translations
      - updated_at
      - content
      - id
  lol-status-v3.Translation:
    type: object
    title: Translation
    properties:
      locale:
        type: string
        x-type: string
      content:
        type: string
        x-type: string
      heading:
        type: string
        x-type: string
    required:
      - locale
      - content
      - heading
  match-v4.MatchDto:
    type: object
    title: MatchDto
    properties:
      seasonId:
        type: integer
        format: int32
        x-type: int
        description: 'Please refer to the Game Constants documentation.'
      queueId:
        type: integer
        format: int32
        x-type: int
        description: 'Please refer to the Game Constants documentation.'
      gameId:
        type: integer
        format: int64
        x-type: long
      participantIdentities:
        type: array
        items:
          $ref: '#/definitions/match-v4.ParticipantIdentityDto'
          x-type: ParticipantIdentityDto
        x-type: 'List[ParticipantIdentityDto]'
        description: 'Participant identity information.'
      gameVersion:
        type: string
        x-type: string
        description: 'The major.minor version typically indicates the patch the match was played on.'
      platformId:
        type: string
        x-type: string
        description: 'Platform where the match was played.'
      gameMode:
        type: string
        x-type: string
        description: 'Please refer to the Game Constants documentation.'
      mapId:
        type: integer
        format: int32
        x-type: int
        description: 'Please refer to the Game Constants documentation.'
      gameType:
        type: string
        x-type: string
        description: 'Please refer to the Game Constants documentation.'
      teams:
        type: array
        items:
          $ref: '#/definitions/match-v4.TeamStatsDto'
          x-type: TeamStatsDto
        x-type: 'List[TeamStatsDto]'
        description: 'Team information.'
      participants:
        type: array
        items:
          $ref: '#/definitions/match-v4.ParticipantDto'
          x-type: ParticipantDto
        x-type: 'List[ParticipantDto]'
        description: 'Participant information.'
      gameDuration:
        type: integer
        format: int64
        x-type: long
        description: 'Match duration in seconds.'
      gameCreation:
        type: integer
        format: int64
        x-type: long
        description: 'Designates the timestamp when champion select ended and the loading screen appeared, NOT when the game timer was at 0:00.'
    required:
      - seasonId
      - queueId
      - gameId
      - participantIdentities
      - gameVersion
      - platformId
      - gameMode
      - mapId
      - gameType
      - teams
      - participants
      - gameDuration
      - gameCreation
  match-v4.ParticipantIdentityDto:
    type: object
    title: ParticipantIdentityDto
    properties:
      player:
        $ref: '#/definitions/match-v4.PlayerDto'
        x-type: PlayerDto
        description: 'Player information.'
      participantId:
        type: integer
        format: int32
        x-type: int
    required:
      - player
      - participantId
  match-v4.PlayerDto:
    type: object
    title: PlayerDto
    properties:
      currentPlatformId:
        type: string
        x-type: string
      summonerName:
        type: string
        x-type: string
      matchHistoryUri:
        type: string
        x-type: string
      platformId:
        type: string
        x-type: string
        description: 'Original platformId.'
      currentAccountId:
        type: string
        x-type: string
        description: 'Player''s current accountId (Encrypted)'
      profileIcon:
        type: integer
        format: int32
        x-type: int
      summonerId:
        type: string
        x-type: string
        description: 'Player''s summonerId (Encrypted)'
      accountId:
        type: string
        x-type: string
        description: 'Player''s original accountId (Encrypted)'
    required:
      - currentPlatformId
      - summonerName
      - matchHistoryUri
      - platformId
      - currentAccountId
      - profileIcon
      - summonerId
      - accountId
  match-v4.TeamStatsDto:
    type: object
    title: TeamStatsDto
    properties:
      firstDragon:
        type: boolean
        x-type: boolean
        description: 'Flag indicating whether or not the team scored the first Dragon kill.'
      firstInhibitor:
        type: boolean
        x-type: boolean
        description: 'Flag indicating whether or not the team destroyed the first inhibitor.'
      bans:
        type: array
        items:
          $ref: '#/definitions/match-v4.TeamBansDto'
          x-type: TeamBansDto
        x-type: 'List[TeamBansDto]'
        description: 'If match queueId has a draft, contains banned champion data, otherwise empty.'
      baronKills:
        type: integer
        format: int32
        x-type: int
        description: 'Number of times the team killed Baron.'
      firstRiftHerald:
        type: boolean
        x-type: boolean
        description: 'Flag indicating whether or not the team scored the first Rift Herald kill.'
      firstBaron:
        type: boolean
        x-type: boolean
        description: 'Flag indicating whether or not the team scored the first Baron kill.'
      riftHeraldKills:
        type: integer
        format: int32
        x-type: int
        description: 'Number of times the team killed Rift Herald.'
      firstBlood:
        type: boolean
        x-type: boolean
        description: 'Flag indicating whether or not the team scored the first blood.'
      teamId:
        type: integer
        format: int32
        x-type: int
        description: '100 for blue side. 200 for red side.'
      firstTower:
        type: boolean
        x-type: boolean
        description: 'Flag indicating whether or not the team destroyed the first tower.'
      vilemawKills:
        type: integer
        format: int32
        x-type: int
        description: 'Number of times the team killed Vilemaw.'
      inhibitorKills:
        type: integer
        format: int32
        x-type: int
        description: 'Number of inhibitors the team destroyed.'
      towerKills:
        type: integer
        format: int32
        x-type: int
        description: 'Number of towers the team destroyed.'
      dominionVictoryScore:
        type: integer
        format: int32
        x-type: int
        description: 'For Dominion matches, specifies the points the team had at game end.'
      win:
        type: string
        x-type: string
        enum:
          - Fail
          - Win
        description: "String indicating whether or not the team won. There are only two values visibile in public match history.\n             (Legal values:  Fail,  Win)"
      dragonKills:
        type: integer
        format: int32
        x-type: int
        description: 'Number of times the team killed Dragon.'
    required:
      - firstDragon
      - firstInhibitor
      - bans
      - baronKills
      - firstRiftHerald
      - firstBaron
      - riftHeraldKills
      - firstBlood
      - teamId
      - firstTower
      - vilemawKills
      - inhibitorKills
      - towerKills
      - dominionVictoryScore
      - win
      - dragonKills
  match-v4.TeamBansDto:
    type: object
    title: TeamBansDto
    properties:
      pickTurn:
        type: integer
        format: int32
        x-type: int
        description: 'Turn during which the champion was banned.'
      championId:
        type: integer
        format: int32
        x-type: int
        description: 'Banned championId.'
    required:
      - pickTurn
      - championId
  match-v4.ParticipantDto:
    type: object
    title: ParticipantDto
    properties:
      stats:
        $ref: '#/definitions/match-v4.ParticipantStatsDto'
        x-type: ParticipantStatsDto
        description: 'Participant statistics.'
      participantId:
        type: integer
        format: int32
        x-type: int
      runes:
        type: array
        items:
          $ref: '#/definitions/match-v4.RuneDto'
          x-type: RuneDto
        x-type: 'List[RuneDto]'
        description: 'List of legacy Rune information. Not included for matches played with Runes Reforged.'
      timeline:
        $ref: '#/definitions/match-v4.ParticipantTimelineDto'
        x-type: ParticipantTimelineDto
        description: 'Participant timeline data.'
      teamId:
        type: integer
        format: int32
        x-type: int
        description: '100 for blue side. 200 for red side.'
      spell2Id:
        type: integer
        format: int32
        x-type: int
        description: 'Second Summoner Spell id.'
      masteries:
        type: array
        items:
          $ref: '#/definitions/match-v4.MasteryDto'
          x-type: MasteryDto
        x-type: 'List[MasteryDto]'
        description: 'List of legacy Mastery information. Not included for matches played with Runes Reforged.'
      highestAchievedSeasonTier:
        type: string
        x-type: string
        enum:
          - CHALLENGER
          - MASTER
          - DIAMOND
          - PLATINUM
          - GOLD
          - SILVER
          - BRONZE
          - UNRANKED
        description: "Highest ranked tier achieved for the previous season in a specific subset of queueIds, if any, otherwise null. Used to display border in game loading screen. Please refer to the Ranked Info documentation.\n             (Legal values:  CHALLENGER,  MASTER,  DIAMOND,  PLATINUM,  GOLD,  SILVER,  BRONZE,  UNRANKED)"
      spell1Id:
        type: integer
        format: int32
        x-type: int
        description: 'First Summoner Spell id.'
      championId:
        type: integer
        format: int32
        x-type: int
    required:
      - stats
      - participantId
      - runes
      - timeline
      - teamId
      - spell2Id
      - masteries
      - highestAchievedSeasonTier
      - spell1Id
      - championId
  match-v4.ParticipantStatsDto:
    type: object
    title: ParticipantStatsDto
    properties:
      firstBloodAssist:
        type: boolean
        x-type: boolean
      visionScore:
        type: integer
        format: int64
        x-type: long
      magicDamageDealtToChampions:
        type: integer
        format: int64
        x-type: long
      damageDealtToObjectives:
        type: integer
        format: int64
        x-type: long
      totalTimeCrowdControlDealt:
        type: integer
        format: int32
        x-type: int
      longestTimeSpentLiving:
        type: integer
        format: int32
        x-type: int
      perk1Var1:
        type: integer
        format: int32
        x-type: int
        description: 'Post game rune stats.'
      perk1Var3:
        type: integer
        format: int32
        x-type: int
        description: 'Post game rune stats.'
      perk1Var2:
        type: integer
        format: int32
        x-type: int
        description: 'Post game rune stats.'
      tripleKills:
        type: integer
        format: int32
        x-type: int
      perk3Var3:
        type: integer
        format: int32
        x-type: int
        description: 'Post game rune stats.'
      nodeNeutralizeAssist:
        type: integer
        format: int32
        x-type: int
      perk3Var2:
        type: integer
        format: int32
        x-type: int
        description: 'Post game rune stats.'
      playerScore9:
        type: integer
        format: int32
        x-type: int
      playerScore8:
        type: integer
        format: int32
        x-type: int
      kills:
        type: integer
        format: int32
        x-type: int
      playerScore1:
        type: integer
        format: int32
        x-type: int
      playerScore0:
        type: integer
        format: int32
        x-type: int
      playerScore3:
        type: integer
        format: int32
        x-type: int
      playerScore2:
        type: integer
        format: int32
        x-type: int
      playerScore5:
        type: integer
        format: int32
        x-type: int
      playerScore4:
        type: integer
        format: int32
        x-type: int
      playerScore7:
        type: integer
        format: int32
        x-type: int
      playerScore6:
        type: integer
        format: int32
        x-type: int
      perk5Var1:
        type: integer
        format: int32
        x-type: int
        description: 'Post game rune stats.'
      perk5Var3:
        type: integer
        format: int32
        x-type: int
        description: 'Post game rune stats.'
      perk5Var2:
        type: integer
        format: int32
        x-type: int
        description: 'Post game rune stats.'
      totalScoreRank:
        type: integer
        format: int32
        x-type: int
      neutralMinionsKilled:
        type: integer
        format: int32
        x-type: int
      damageDealtToTurrets:
        type: integer
        format: int64
        x-type: long
      physicalDamageDealtToChampions:
        type: integer
        format: int64
        x-type: long
      nodeCapture:
        type: integer
        format: int32
        x-type: int
      largestMultiKill:
        type: integer
        format: int32
        x-type: int
      perk2Var2:
        type: integer
        format: int32
        x-type: int
        description: 'Post game rune stats.'
      perk2Var3:
        type: integer
        format: int32
        x-type: int
        description: 'Post game rune stats.'
      totalUnitsHealed:
        type: integer
        format: int32
        x-type: int
      perk2Var1:
        type: integer
        format: int32
        x-type: int
        description: 'Post game rune stats.'
      perk4Var1:
        type: integer
        format: int32
        x-type: int
        description: 'Post game rune stats.'
      perk4Var2:
        type: integer
        format: int32
        x-type: int
        description: 'Post game rune stats.'
      perk4Var3:
        type: integer
        format: int32
        x-type: int
        description: 'Post game rune stats.'
      wardsKilled:
        type: integer
        format: int32
        x-type: int
      largestCriticalStrike:
        type: integer
        format: int32
        x-type: int
      largestKillingSpree:
        type: integer
        format: int32
        x-type: int
      quadraKills:
        type: integer
        format: int32
        x-type: int
      teamObjective:
        type: integer
        format: int32
        x-type: int
      magicDamageDealt:
        type: integer
        format: int64
        x-type: long
      item2:
        type: integer
        format: int32
        x-type: int
      item3:
        type: integer
        format: int32
        x-type: int
      item0:
        type: integer
        format: int32
        x-type: int
      neutralMinionsKilledTeamJungle:
        type: integer
        format: int32
        x-type: int
      item6:
        type: integer
        format: int32
        x-type: int
      item4:
        type: integer
        format: int32
        x-type: int
      item5:
        type: integer
        format: int32
        x-type: int
      perk1:
        type: integer
        format: int32
        x-type: int
        description: 'Primary path rune.'
      perk0:
        type: integer
        format: int32
        x-type: int
        description: 'Primary path keystone rune.'
      perk3:
        type: integer
        format: int32
        x-type: int
        description: 'Primary path rune.'
      perk2:
        type: integer
        format: int32
        x-type: int
        description: 'Primary path rune.'
      perk5:
        type: integer
        format: int32
        x-type: int
        description: 'Secondary path rune.'
      perk4:
        type: integer
        format: int32
        x-type: int
        description: 'Secondary path rune.'
      perk3Var1:
        type: integer
        format: int32
        x-type: int
        description: 'Post game rune stats.'
      damageSelfMitigated:
        type: integer
        format: int64
        x-type: long
      magicalDamageTaken:
        type: integer
        format: int64
        x-type: long
      firstInhibitorKill:
        type: boolean
        x-type: boolean
      trueDamageTaken:
        type: integer
        format: int64
        x-type: long
      nodeNeutralize:
        type: integer
        format: int32
        x-type: int
      assists:
        type: integer
        format: int32
        x-type: int
      combatPlayerScore:
        type: integer
        format: int32
        x-type: int
      perkPrimaryStyle:
        type: integer
        format: int32
        x-type: int
        description: 'Primary rune path'
      goldSpent:
        type: integer
        format: int32
        x-type: int
      trueDamageDealt:
        type: integer
        format: int64
        x-type: long
      participantId:
        type: integer
        format: int32
        x-type: int
      totalDamageTaken:
        type: integer
        format: int64
        x-type: long
      physicalDamageDealt:
        type: integer
        format: int64
        x-type: long
      sightWardsBoughtInGame:
        type: integer
        format: int32
        x-type: int
      totalDamageDealtToChampions:
        type: integer
        format: int64
        x-type: long
      physicalDamageTaken:
        type: integer
        format: int64
        x-type: long
      totalPlayerScore:
        type: integer
        format: int32
        x-type: int
      win:
        type: boolean
        x-type: boolean
      objectivePlayerScore:
        type: integer
        format: int32
        x-type: int
      totalDamageDealt:
        type: integer
        format: int64
        x-type: long
      item1:
        type: integer
        format: int32
        x-type: int
      neutralMinionsKilledEnemyJungle:
        type: integer
        format: int32
        x-type: int
      deaths:
        type: integer
        format: int32
        x-type: int
      wardsPlaced:
        type: integer
        format: int32
        x-type: int
      perkSubStyle:
        type: integer
        format: int32
        x-type: int
        description: 'Secondary rune path'
      turretKills:
        type: integer
        format: int32
        x-type: int
      firstBloodKill:
        type: boolean
        x-type: boolean
      trueDamageDealtToChampions:
        type: integer
        format: int64
        x-type: long
      goldEarned:
        type: integer
        format: int32
        x-type: int
      killingSprees:
        type: integer
        format: int32
        x-type: int
      unrealKills:
        type: integer
        format: int32
        x-type: int
      altarsCaptured:
        type: integer
        format: int32
        x-type: int
      firstTowerAssist:
        type: boolean
        x-type: boolean
      firstTowerKill:
        type: boolean
        x-type: boolean
      champLevel:
        type: integer
        format: int32
        x-type: int
      doubleKills:
        type: integer
        format: int32
        x-type: int
      nodeCaptureAssist:
        type: integer
        format: int32
        x-type: int
      inhibitorKills:
        type: integer
        format: int32
        x-type: int
      firstInhibitorAssist:
        type: boolean
        x-type: boolean
      perk0Var1:
        type: integer
        format: int32
        x-type: int
        description: 'Post game rune stats.'
      perk0Var2:
        type: integer
        format: int32
        x-type: int
        description: 'Post game rune stats.'
      perk0Var3:
        type: integer
        format: int32
        x-type: int
        description: 'Post game rune stats.'
      visionWardsBoughtInGame:
        type: integer
        format: int32
        x-type: int
      altarsNeutralized:
        type: integer
        format: int32
        x-type: int
      pentaKills:
        type: integer
        format: int32
        x-type: int
      totalHeal:
        type: integer
        format: int64
        x-type: long
      totalMinionsKilled:
        type: integer
        format: int32
        x-type: int
      timeCCingOthers:
        type: integer
        format: int64
        x-type: long
    required:
      - firstBloodAssist
      - visionScore
      - magicDamageDealtToChampions
      - damageDealtToObjectives
      - totalTimeCrowdControlDealt
      - longestTimeSpentLiving
      - perk1Var1
      - perk1Var3
      - perk1Var2
      - tripleKills
      - perk3Var3
      - nodeNeutralizeAssist
      - perk3Var2
      - playerScore9
      - playerScore8
      - kills
      - playerScore1
      - playerScore0
      - playerScore3
      - playerScore2
      - playerScore5
      - playerScore4
      - playerScore7
      - playerScore6
      - perk5Var1
      - perk5Var3
      - perk5Var2
      - totalScoreRank
      - neutralMinionsKilled
      - damageDealtToTurrets
      - physicalDamageDealtToChampions
      - nodeCapture
      - largestMultiKill
      - perk2Var2
      - perk2Var3
      - totalUnitsHealed
      - perk2Var1
      - perk4Var1
      - perk4Var2
      - perk4Var3
      - wardsKilled
      - largestCriticalStrike
      - largestKillingSpree
      - quadraKills
      - teamObjective
      - magicDamageDealt
      - item2
      - item3
      - item0
      - neutralMinionsKilledTeamJungle
      - item6
      - item4
      - item5
      - perk1
      - perk0
      - perk3
      - perk2
      - perk5
      - perk4
      - perk3Var1
      - damageSelfMitigated
      - magicalDamageTaken
      - firstInhibitorKill
      - trueDamageTaken
      - nodeNeutralize
      - assists
      - combatPlayerScore
      - perkPrimaryStyle
      - goldSpent
      - trueDamageDealt
      - participantId
      - totalDamageTaken
      - physicalDamageDealt
      - sightWardsBoughtInGame
      - totalDamageDealtToChampions
      - physicalDamageTaken
      - totalPlayerScore
      - win
      - objectivePlayerScore
      - totalDamageDealt
      - item1
      - neutralMinionsKilledEnemyJungle
      - deaths
      - wardsPlaced
      - perkSubStyle
      - turretKills
      - firstBloodKill
      - trueDamageDealtToChampions
      - goldEarned
      - killingSprees
      - unrealKills
      - altarsCaptured
      - firstTowerAssist
      - firstTowerKill
      - champLevel
      - doubleKills
      - nodeCaptureAssist
      - inhibitorKills
      - firstInhibitorAssist
      - perk0Var1
      - perk0Var2
      - perk0Var3
      - visionWardsBoughtInGame
      - altarsNeutralized
      - pentaKills
      - totalHeal
      - totalMinionsKilled
      - timeCCingOthers
  match-v4.RuneDto:
    type: object
    title: RuneDto
    properties:
      runeId:
        type: integer
        format: int32
        x-type: int
      rank:
        type: integer
        format: int32
        x-type: int
    required:
      - runeId
      - rank
  match-v4.ParticipantTimelineDto:
    type: object
    title: ParticipantTimelineDto
    properties:
      lane:
        type: string
        x-type: string
        enum:
          - MID
          - MIDDLE
          - TOP
          - JUNGLE
          - BOT
          - BOTTOM
        description: "Participant's calculated lane. MID and BOT are legacy values.\n             (Legal values:  MID,  MIDDLE,  TOP,  JUNGLE,  BOT,  BOTTOM)"
      participantId:
        type: integer
        format: int32
        x-type: int
      csDiffPerMinDeltas:
        type: object
        x-key:
          type: string
          x-type: String
        additionalProperties:
          type: number
          format: double
          x-type: double
        x-type: 'Map[String, double]'
        description: 'Creep score difference versus the calculated lane opponent(s) for a specified period.'
      goldPerMinDeltas:
        type: object
        x-key:
          type: string
          x-type: String
        additionalProperties:
          type: number
          format: double
          x-type: double
        x-type: 'Map[String, double]'
        description: 'Gold for a specified period.'
      xpDiffPerMinDeltas:
        type: object
        x-key:
          type: string
          x-type: String
        additionalProperties:
          type: number
          format: double
          x-type: double
        x-type: 'Map[String, double]'
        description: 'Experience difference versus the calculated lane opponent(s) for a specified period.'
      creepsPerMinDeltas:
        type: object
        x-key:
          type: string
          x-type: String
        additionalProperties:
          type: number
          format: double
          x-type: double
        x-type: 'Map[String, double]'
        description: 'Creeps for a specified period.'
      xpPerMinDeltas:
        type: object
        x-key:
          type: string
          x-type: String
        additionalProperties:
          type: number
          format: double
          x-type: double
        x-type: 'Map[String, double]'
        description: 'Experience change for a specified period.'
      role:
        type: string
        x-type: string
        enum:
          - DUO
          - NONE
          - SOLO
[...]
